<h2></h2>
<div class="w-50 mx-auto form">
    <h1>Sign up</h1>
    <%= form_tag("/user/new")do%>
        <div class="form-inline w-50 mx-auto form-content">
            <label>Name:</label>
            <input class= "form-control" name="name">
        </div>
        <div class="form-inline w-50 mx-auto form-content">
            <label>Email</label>
            <input class= "form-control" name="email">
        </div>
        <div class="form-inline w-50 mx-auto form-content">
            <label for="text1">Password</label>
            <input type="password" class= "form-control" name="password">
        </div>
                
        <input type ="submit" value = "Submit"class="form-group form-inline mx-auto">
    <%end%>
</div>